/*
 * Copyright 2020 Centre for Genomic Regulation (CRG)
 * Copyright 2020 BovReg
 *
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */ 
  
manifest {
  description = 'Nextflow pipeline a RNA-seq pipeline implemented with Nextflow'
  author = 'Jose Espinosa-Carrasco'
}

/* 
 * Defines execution profiles for different environments  
 */
profiles {
  standard {
    process.container = 'cbcrg/bovreg-demo@sha256:4d2843ccd1007ac5975a4c38a0ff9a8c2fc73f6663e64868cd7279fbb0776561'
  }

  biocontainers {
    process {
        withLabel: 'salmon' {
            container = 'quay.io/biocontainers/salmon:1.2.0--hf69c8f4_0'
        }
        withName: 'fastqc' {
            container = 'biocontainers/fastqc:v0.11.5_cv4'
        }

        withName: 'multiqc' {
            container = 'quay.io/biocontainers/multiqc:1.5--py27_0'
        }
    }

    // Use docker
    docker.enabled = true

    // Use singularity
    // singularity.enabled = true
  }

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
}
