/*
 * Copyright (c) 2013-2020, Centre for Genomic Regulation (CRG).
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 *
 */
 
manifest {
  description = 'Nextflow pipeline  a RNA-seq pipeline implemented with Nextflow' 
  author = 'Jose Espinosa-Carrasco'
}

/* 
 * Defines execution profiles for different environments  
 */ 

profiles {
  standard {
    //process.container = 'cbcrg/bovreg-demo:0.1'    
    process.container = 'cbcrg/bovreg-demo@sha256:f695524271315260613dc7061df0f21630a729b37a1b3dde1cfa5d7a59cb6731'
    docker.enabled = true
  }

  conda {
    process.conda = "$baseDir/conda.yml"
  }  
}
